<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
      table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
      }

      td,
      th {
        text-align: center;
        border: 1px solid #000000;
        padding: 8px;
      }

      tr:nth-child(even) {
        background-color: #dddddd;
      }
    </style>
    <title>Get All Users</title>
  </head>
  <body>
    <h1>ALL USERS</h1>
    <table>
      <tr>
        <th>Email</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Address</th>
        <th>Gender</th>
        <th>Actions</th>
      </tr>
      <% for(let i = 0; i < dataUsers.length; i++) { %>
      <tr>
        <td><%= dataUsers[i].email %></td>
        <td><%= dataUsers[i].firstName %></td>
        <td><%= dataUsers[i].lastName %></td>
        <td><%= dataUsers[i].address %></td>
        <td>
          <% if (dataUsers[i].gender == 1) { %> Male <% } else { %> Female <% }
          %>
        </td>
        <td>
          <a href="/edit-crud?id=<%= dataUsers[i].id %>" type="button">Edit</a>
          <a href="/delete-crud?id=<%= dataUsers[i].id %>" type="button"
            >Delete</a
          >
        </td>
      </tr>
      <% } %>
    </table>
  </body>
</html>
